---
import Background from "@/components/ui/Background";
import ContentForm from "./ContentForm.astro";
import type { ContentProps } from "./Content.astro";

interface Props extends ContentProps<"card"> {}

const {
  /**
   *
   *
   *
   *
   *
   *
   * FORM PROPS
   */
  input,
  button,
  form,
  label,
  /**
   *
   *
   *
   *
   *
   *
   * SHARED PROPS
   */
  title,
  subtitle,
  text,
  article,
  /**
   *
   *
   *
   *
   *
   *
   * CARD PROPS
   */
  backgroundProps,
} = Astro.props;
---

<article
  class:list={[
    "flex flex-col card py-4 px-7 max-w-[300px] rounded-lg relative h-fit  text-slate-900 dark:text-slate-100",
    article?.props?.class,
  ]}
  {...article?.props}
>
  <div
    class:list={[
      "before:w-full before:h-full before:top-0 before:left-0 before:backdrop-blur-sm before:absolute before:-z-10 before:rounded-lg",
    ]}
  >
  </div>
  {backgroundProps && <Background {...backgroundProps} className="rounded-lg opacity-20" />}
  {
    title && (
      <h3 class:list={["max-w-1/2 text-2xl", title.props?.class]} {...title.props}>
        {title.content}
      </h3>
    )
  }
  {
    subtitle && (
      <small class:list={[subtitle.props?.class]} {...subtitle.props}>
        {subtitle.content}
      </small>
    )
  }
  {
    text && (
      <p class:list={["text-balance ps-2 text-[0.9rem] sm:text-[1rem]", text.props?.class]} {...text.props}>
        {text.content}
      </p>
    )
  }
  {(input || button) && <ContentForm input={input} button={button} form={form} label={label} />}
</article>
