---
import ContentForm from "./ContentForm.astro";

const {
  /**
   *
   *
   *
   *
   *
   *
   * FORM PROPS
   */
  input,
  button,
  form,
  label,
  /**
   *
   *
   *
   *
   *
   *
   * SHARED PROPS
   */
  title,
  subtitle,
  text,
  theme = "light",
  article,
} = Astro.props;
---

<article class:list={["w-full text-slate-900 dark:text-slate-100", article?.props?.class]} {...article?.props}>
  {
    title && (
      <h2 class:list={["text-2xl", title.props?.class]} {...title.props}>
        {title.content}
      </h2>
    )
  }
  {
    subtitle && (
      <small class:list={[subtitle.props?.class]} {...subtitle.props}>
        {subtitle.content}
      </small>
    )
  }
  {
    text && (
      <p class:list={["text-balance my-3", text.props?.class]} {...text.props}>
        {text.content}
      </p>
    )
  }
  {(input || button) && <ContentForm input={input} button={button} form={form} label={label} />}
</article>
