---
interface Props {}

import ThreeTree from "../assets/three-tree.webp";
import { Image } from "astro:assets";
import { generateLorem } from "@/helpers";
import { Button } from "@/components/ui/Button";
import Parallax from "@/components/ui/Paralax.astro";

const slowDelay = "0.8s";
const mediumDelay = "1.2s";
const fastDelay = "1.7s";
const bezier = "cubic-bezier(.25,.75,.5,1.25)";
---

<style define:vars={{ slowDelay, mediumDelay, fastDelay, bezier }}>
  div[data-is="hero-text-wrapper"] {
    --speedRatio: 0.1;
    --title-delay: calc(0.2s * var(--speedRatio));
    --sub-title-delay: calc(0.7s * var(--speedRatio));
    /** */
    --paragraph-delay-fast: calc(var(--fastDelay) * var(--speedRatio));
    --paragraph-delay-medium: calc(var(--mediumDelay) * var(--speedRatio));
    --paragraph-delay-slow: calc(var(--slowDelay) * var(--speedRatio));
    /** */
    --button-delay: calc(2s * var(--speedRatio));
  }

  .animation-start {
    opacity: 0;
    filter: blur(2px);
    scale: 0.9;
  }

  .animation-start-button {
    transform: translateY(50px);
    opacity: 0;
    filter: blur(2px);
  }

  .animation-in-title {
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: var(--title-delay);
  }

  .animation-in-subtitle {
    animation: fadeIn 1s var(--bezier) forwards;
    animation-delay: var(--sub-title-delay);
  }

  [data-delay="fast"].animation-in-paragraph {
    animation: fadeIn 1s var(--bezier) forwards;
    animation-delay: var(--paragraph-delay-fast);
  }

  [data-delay="medium"].animation-in-paragraph {
    animation: fadeIn 1s var(--bezier) forwards;
    animation-delay: var(--paragraph-delay-medium);
  }

  [data-delay="slow"].animation-in-paragraph {
    animation: fadeIn 1s var(--bezier) forwards;
    animation-delay: var(--paragraph-delay-slow);
  }

  .animation-in-button {
    animation: fadeInButton 1s ease-in-out forwards;
    animation-delay: var(--button-delay);
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
      filter: blur(0px);
      scale: 1;
    }
  }

  @keyframes fadeInButton {
    to {
      opacity: 1;
      filter: blur(0px);
      transform: translateY(0px);
    }
  }
</style>

<section class="max-h-screen h-screen w-full border-none mt-20">
  <Image
    src={ThreeTree}
    alt="Oak"
    class="w-full h-full max-h-screen aspect-[6/16] 2xs:aspect-[9/16] md:aspect-auto object-cover border-none"
  />
  <Parallax className="mt-20" />
  <div
    class="z-10 bg-transparent absolute top-0 mt-[50%] md:mt-[35%] lg:mt-[30%] xl:mt-[20%] flex flex-col w-[35ch] sm:w-[50ch] md:w-[60ch] lg:w-[75ch] ps-5 md:ps-10 gap-3"
    data-is="hero-text-wrapper"
  >
    <h1 class="font-bold animation-start animation-in-title text-[2rem] sm:text-[3rem] md:text-[3rem] text-main-500">
      {generateLorem(3)}
    </h1>
    <p
      class="text-pretty font-medium animation-start animation-in-paragraph sm:text-[1rem] md:text-[1.1rem] text-black"
      data-delay="fast"
    >
      {generateLorem(12)}
    </p>
    <p
      class="text-pretty font-medium animation-start animation-in-paragraph sm:text-[1rem] md:text-[1.1rem] text-black"
      data-delay="medium"
    >
      {generateLorem(12)}
    </p>
    <p
      class="text-pretty font-medium animation-start animation-in-paragraph sm:text-[1rem] md:text-[1.1rem] text-black"
      data-delay="slow"
    >
      {generateLorem(12)}
    </p>
    <div class="flex ps-6 gap-6 animation-start-button animation-in-button">
      <a href="/activities">
        <Button
          variant={"outline"}
          className=" bg-main-500 dark:bg-main-500 dark:text-black text-black rounded-full px-12 card"
          >S'inscrire</Button
        ></a
      >
    </div>
  </div>
</section>
