---
import Nav from "../components/Nav";
import "../tailwind/input.css";

interface Props {
  title: string;
  headerTitle: string;
  image?: {
    href: string;
    alt: string;
  };
}

const { title, headerTitle, image } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-w-full flex flex-col justify-start">
    <header class="text-wt-500 py-4 w-full flex flex-col gap-12 bg-element-300 items-center justify-center">
      <h1>{headerTitle}</h1>
      {
        image && (
          <div class="bg">
            <img src={image.href} alt={image.alt} class="-z-20" />
          </div>
        )
      }
      <Nav client:load />
    </header>
    <main class="grow">
      <slot name="main" />
    </main>
    <footer class="text-wt-500 p-4 w-full bg-element-300">
      <p>&copy; 2024 Astro</p>
    </footer>
  </body>
</html>
