---
import { generateLorem } from "@/helpers";
import { Button } from "@/components/ui/Button";
import colorThemes from "@/components/ui/Color/data";
import Leaf from "./Leaf.astro";
import Title from "./Title.astro";

interface Props {
  hrefs: [string, string];
}

const { hrefs } = Astro.props;

const themedColorHightlight = colorThemes.default("heroHighlight");
const themedColorBtn = colorThemes.default("heroButton");
---

<style>
  .animation-start-subtitle {
    opacity: 0;
    filter: blur(1px);
    transform: scale(0.8) translateY(-30px);
  }
  .animation-start-paragraph {
    opacity: 0;
    filter: blur(1px);
    transform: scale(0.8);
  }
  .animation-start-buttons {
    opacity: 0;
    filter: blur(2px);
    transform: scale(0.8) translateY(30px);
  }
  :where(.animation-in-subtitle, .animation-in-paragraph, .animation-in-button) {
    animation-name: goInPlace;
  }
  @keyframes goInPlace {
    to {
      opacity: 1;
      filter: blur(0px);
      transform: translateY(0px) scale(1);
    }
  }
</style>

<section class="w-full h-screen flex items-center">
  <div
    class="w-full h-full flex flex-col items-center py-12 text-center justify-evenly gap-12 max-h-[50vh]"
    data-is="hero-text-wrapper"
  >
    <h4
      class="animation-start-subtitle animation-in-subtitle animate-fill-forwards animate-timing-elastic animate-duration-1000 animate-delay-700 text-md text-black/90 dark:text-white/90 w-fit z-10"
      data-is="subtitle"
    >
      {generateLorem(5)}...
      <Leaf />
    </h4>
    <Title />
    <p
      class="animation-start-paragraph animation-in-paragraph animate-fill-forwards animate-timing-elastic animate-duration-1000 animate-delay-1200 text-pretty max-w-[50ch] text-black/90 dark:text-white/90 font-bold text-[1.2rem] md:text-[1.3rem]"
      data-is="paragraph"
    >
      {generateLorem(7)}
      <span class={`${themedColorHightlight}`}>{generateLorem(2)}</span>
      {generateLorem(7)}
    </p>
    <div
      class="animation-start-buttons w-full flex justify-center items-center gap-12 animation-start-button animation-in-button animate-fill-forwards animate-timing-elastic animate-duration-1000 animate-delay-1700"
      data-is="buttons"
    >
      <a href={hrefs[0]} class="w-fit">
        <Button
          variant={"outline"}
          className={`${themedColorBtn} rounded-full px-8 text-md h-16 w-32 ring-1 ring-black/80 hover:border-white dark:hover:ring-white`}
        >
          <span class="text-black/90 dark:text-white/90 font-bold">Découvrir</span>
        </Button>
      </a>
      <a href={hrefs[1]} class="w-fit">
        <Button
          variant={"ghost"}
          className={`rounded-full px-8 text-md h-16 w-32 ring-1 ring-black/80 dark:hover:ring-white`}
        >
          <span class="text-black/90 dark:text-white/90 font-bold">S'inscrire</span>
        </Button>
      </a>
    </div>
  </div>
</section>
