---
import HeroImage from "@/assets/hero/hero-29.png";
import { Button } from "@/components/ui/Button";
import colorThemes from "@/components/ui/Color/data";
import { generateLorem } from "@/helpers";
import { Image } from "astro:assets";
import Title from "./Title.astro";

interface Props {
  hrefs: [string, string];
}

const { hrefs } = Astro.props;

const themedColorBtn = colorThemes.default("heroButton");
---

<section class="w-full max-h-screen h-screen vertical center px-11 pt-36 pb-24">
  <div class="horizontal w-full h-full">
    <div class="w-full h-full vertical items-start justify-between">
      <!--  TOP ELEMENTS -->
      <!--  TOP ELEMENTS -->
      <!--  TOP ELEMENTS -->
      <!--  TOP ELEMENTS -->
      <!--  TOP ELEMENTS -->
      <aside
        class="w-full h-fit font-bold text-md im-fell-dw-pica-regular dark:text-white/90 text-dark/90 text-left text-balance"
      >
        <ul class="grid grid-cols-3 w-full leading-3 horizontal [&>li]:max-w-[10ch] h-fit list-disc ps-7">
          <li class="marker:text-4xl marker:text-pur-400">Nature</li>
          <li class="marker:text-6xl marker:text-pur-500">Respect</li>
          <li class="marker:text-8xl marker:text-pur-600">Sport</li>
        </ul>
      </aside>

      <div class="horizontal">
        <Title />

        <!-- BUTTON -->
        <!-- BUTTON -->
        <!-- BUTTON -->
        <!-- BUTTON -->
        <!-- BUTTON -->
        <div
          class="center [&>a>button]:rounded-full [&>a>button]:px-8 [&>a>button]:h-16 [&>a>button]:w-32 [&>a>button]:ring-1 [&>a>button]:ring-black/80 [&>a>button]:hover:border-white [&>a>button]:dark:hover:ring-white text-md [&>a]:w-fit text-black w-full horizontal gap-12"
        >
          <a href={hrefs[0]}>
            <Button variant="outline" className={`${themedColorBtn}`}>
              <span class="dark:text-white font-bold">Découvrir</span>
            </Button>
          </a>
          <a href={hrefs[1]}>
            <Button variant="outline" className="bg-pur-600">
              <span class="dark:text-black font-bold">S'inscrire</span>
            </Button>
          </a>
        </div>
      </div>
      <article class="horizontal gap-12 w-full">
        <p class="max-w-[25ch] text-black/90 dark:text-white/90 text-[1rem] md:text-[1.1rem]">
          {generateLorem(5)}
          <span class="text-pur-500">{generateLorem(2)}</span>
          {generateLorem(5)}
        </p>
        <p class="max-w-[25ch] text-black/90 dark:text-white/90 text-[1rem] md:text-[1.1rem]">
          {generateLorem(5)}
          <span class="text-pur-400">{generateLorem(2)}</span>
          {generateLorem(5)}
        </p>
      </article>
    </div>
    <figure class="center flex h-full w-8/12 rounded-xl me-10">
      <Image
        src={HeroImage}
        alt="a tree in a middle of a clear hill"
        class={"aspect-[9/16] h-full w-full object-cover rounded-xl"}
      />
    </figure>
  </div>
</section>
